In [1]:
import pandas as pd
import numpy as np
# Replace 'filename.csv' with your actual CSV filename
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

# Show first 5 rows to check data
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [3]:
df['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [4]:
import pandas as pd

# Load the dataset
data = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

# View first few rows
print(data.head())

# Check for missing values
print(data.isnull().sum())

# Check data types
print(data.dtypes)

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [5]:
# Strip any whitespace from column names (just in case)
data.columns = data.columns.str.strip()

# Map Attrition column to binary (Yes=1, No=0)
if 'Attrition' in data.columns:
    data['Attrition'] = data['Attrition'].map({'Yes': 1, 'No': 0})

# Drop unnecessary columns if they exist
for col in ['EmployeeCount', 'StandardHours', 'Over18', 'EmployeeNumber']:
    if col in data.columns:
        data.drop(columns=[col], inplace=True)

# List categorical columns that still need encoding
categorical_cols = [
    'BusinessTravel', 
    'EducationField', 
    'Gender', 
    'JobRole', 
    'MaritalStatus', 
    'OverTime'
]

# Keep only those categorical columns that actually exist in your dataset
categorical_cols = [col for col in categorical_cols if col in data.columns]

# One-hot encode these categorical columns
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

# Final check
print("Processed Data Shape:", data.shape)
print("First 5 rows:")
print(data.head())

Processed Data Shape: (1470, 44)
First 5 rows:
   Age  Attrition  DailyRate              Department  DistanceFromHome  \
0   41          1       1102                   Sales                 1
1   49          0        279  Research & Development                 8
2   37          1       1373  Research & Development                 2
3   33          0       1392  Research & Development                 3
4   27          0        591  Research & Development                 2

   Education  EnvironmentSatisfaction  HourlyRate  JobInvolvement  JobLevel  \
0          2                        2          94               3         2
1          1                        3          61               2         2
2          2                        4          92               2         1
3          4                        4          56               3         1
4          1                        1          40               3         1

   ...  JobRole_Laboratory Technician  JobRole_Manager  \
0  ...                          False            False
1  ...                          False            False
2  ...                           True            False
3  ...                          False            False
4  ...                           True            False

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                           False                      False
1                           False                      False
2                           False                      False
3                           False                      False
4                           False                      False

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                       False                     True
1                        True                    False
2                       False                    False
3                        True                    False
4                       False                    False

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single  \
0                         False                  False                  True
1                         False                   True                 False
2                         False                  False                  True
3                         False                   True                 False
4                         False                   True                 False

   OverTime_Yes
0          True
1         False
2          True
3          True
4         False

[5 rows x 44 columns]

In [6]:
# Clean extra spaces (important)
data['Attrition'] = data['Attrition'].astype(str).str.strip()

# Convert to binary 0/1
data['Attrition'] = data['Attrition'].map({'Yes': 1, 'No': 0})

# Double check
print(data['Attrition'].unique())
print(data.isnull().sum()['Attrition'])

[nan]
1470

In [7]:
import pandas as pd

data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

# Check first 10 values from original Attrition column
print(data['Attrition'].head(10))
print(data['Attrition'].unique())

0    Yes
1     No
2    Yes
3     No
4     No
5     No
6     No
7     No
8     No
9     No
Name: Attrition, dtype: object
['Yes' 'No']

In [8]:
import pandas as pd

# Load dataset
data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

# Clean column names (optional, removes spaces)
data.columns = data.columns.str.strip()

# Map Attrition values: Yes â†’ 1, No â†’ 0
data['Attrition'] = data['Attrition'].map({'Yes': 1, 'No': 0}).astype(int)

# Quick check
print(data['Attrition'].unique())
print(data['Attrition'].isnull().sum())  # should be 0

[1 0]
0

In [9]:
import pandas as pd

# Load the dataset
data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

# Clean column names (removes accidental spaces)
data.columns = data.columns.str.strip()

# Convert 'Attrition' (Yes/No) to 1/0
data['Attrition'] = data['Attrition'].map({'Yes': 1, 'No': 0}).astype(int)

# OPTIONAL: Check data
print(data.head())
print(data['Attrition'].unique())

   Age  Attrition     BusinessTravel  DailyRate              Department  \
0   41          1      Travel_Rarely       1102                   Sales
1   49          0  Travel_Frequently        279  Research & Development
2   37          1      Travel_Rarely       1373  Research & Development
3   33          0  Travel_Frequently       1392  Research & Development
4   27          0      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]
[1 0]

In [10]:
# List of columns to drop
drop_cols = ['EmployeeCount', 'StandardHours', 'Over18', 'EmployeeNumber']

for col in drop_cols:
    if col in data.columns:
        data = data.drop(col, axis=1)

In [11]:
# List categorical columns (that haven't been encoded yet)
categorical_cols = [
    'BusinessTravel', 'Department', 'EducationField', 'Gender', 
    'JobRole', 'MaritalStatus', 'OverTime'
]
# Use only those that still exist in your data
categorical_cols = [col for col in categorical_cols if col in data.columns]

# Do one-hot encoding
data = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

In [12]:
# Features and labels
X = data.drop('Attrition', axis=1)  # Features (all columns except Attrition)
y = data['Attrition']               # Target (what we want to predict)

In [13]:
from sklearn.model_selection import train_test_split

# Assuming your 'data' DataFrame is ready with 'Attrition' as target
# Separate features (X) and label (y)
X = data.drop('Attrition', axis=1)
y = data['Attrition']

# Split the dataset into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Check the sizes of the splits
print("Training set shape (X_train):", X_train.shape)
print("Training labels shape (y_train):", y_train.shape)
print("Test set shape (X_test):", X_test.shape)
print("Test labels shape (y_test):", y_test.shape)

Training set shape (X_train): (1176, 44)
Training labels shape (y_train): (1176,)
Test set shape (X_test): (294, 44)
Test labels shape (y_test): (294,)

In [19]:
features_to_use = ["MonthlyIncome", "Age", "TotalWorkingYears", "DailyRate", "YearsAtCompany"]

X_new = data[features_to_use]
y = data['Attrition']

# Split, train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.2, random_state=42)

from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Save new model
import pickle
with open("attrition_model_.pkl", "wb") as f:
    pickle.dump(model, f)

In [21]:

# Predict on test data
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
y_pred = model.predict(X_test)

# Accuracy
print(f"Accuracy: {accuracy_score(y_test, y_pred):.2f}")

# Classification report
print("Classification Report:\n", classification_report(y_test, y_pred))

# Confusion matrix
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.84
Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.96      0.91       255
           1       0.27      0.10      0.15        39

    accuracy                           0.84       294
   macro avg       0.57      0.53      0.53       294
weighted avg       0.79      0.84      0.81       294

Confusion Matrix:
 [[244  11]
 [ 35   4]]